{% extends 'base.html.twig' %}

{% block title %}New Pet{% endblock %}

{% block body %}
    <h1>Create new Pet</h1>

    {{ include('pet/_form.html.twig') }}

    <a href="{{ path('pet_index') }}">back to list</a>
{% endblock %}
