<div class="card-body" style="width: 100vw; display: flex; justify-content: center; height: 20vh">
    <div class="card border-info" style="width: 80vw;">
        <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-evenly;">
                <img src="{{ asset('../img/pillule_bleue.png') }}" alt="pillule_bleue">
                <h1 class="text-center" style="display: flex; align-items: center"><a style="font-size: 2em;">Card title</a></h1>
                <img src="{{ asset('../img/pillule_rouge.png') }}" alt="pillule_rouge">
            </div>

            <div class="card-medicine-frequence">
                <button class="medicine-morning"></button>
                <button class="medicine-noon"></button>
                <button class="medicine-evening"></button>
            </div>

            <div class="card-medicine-info">
                <div class="medicine-quantity"></div>
                <div class="medicine-numberofdays"></div>
            </div>

        </div>
    </div>
</div>
