{% extends 'base.html.twig' %}

{% block title %}Medicine index{% endblock %}

{% block body %}
    <h1 style="font-family: 'Pangolin', cursive;">Add a new medicine</h1>

    {{ include('medicine/_form.html.twig', {'button_label': 'Update'}) }}

    {% if medicines %}
        <div class="bnj-medicine-card-container">
            {% include 'medicine/_medicine_card.html.twig' %}
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script>
        function addPanda(element, elementBis) {
            document.getElementById(element).classList.toggle("bnj-panda-border-mobile");
            document.getElementById(elementBis).classList.toggle("bnj-panda-mobile-image-display");
        }
    </script>
{% endblock %}
