// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$primaryColor: #41AAA8;
$secondaryColor: #2C003E;
$tertiaryColor: #51DACF;

$titlefont: 'Pangolin', cursive;

body {
    background-color: #E5E5E5;
    font-family: $titlefont;
}

h1 {
    text-align: center;
    padding: 30px;
}

a {
    color: #2C003E;
    padding: 0;
    font-family: $titlefont;
}

.btn {
    background-color: $tertiaryColor;
    color: $secondaryColor;
}

.body-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    font-family: $titlefont;
}
.doctopet-navbar {
    background-color: $primaryColor;
    color: $secondaryColor;
}

/* NAVBAR */
.doctopet-logo {
    height: 40px;
    width: 40px;
}

/* MEDICINE INDEX PAGE */

.bnj-medicine-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bnj-card-border {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 16px;
}

.bnj-medicine-card-body-container {
    font-family: $titlefont;
    display: flex;
    justify-content: center;
}

.medicine-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.time-of-day {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bnj-container-number {
    border: 1px solid $secondaryColor;
}

@media all and (min-width: 769px) {
    .navbar-flex {
        width: 100%;
        display: flex;
    }

    .navbar-nav {
        align-items: center;
    }
}

@media all and (min-width: 992px) {

    .bnj-medicine-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }


    .bnj-card-border {
        width: 40%;
    }

    .bnj-medicine-form-desktop {
        display: flex;
    }

    .time-of-day {
        display: flex;
        flex-direction: column;
    }

    .bnj-timeofday-desktop {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bnj-timeofday-desktop:nth-child(2) {
        display: flex;
        justify-content: flex-start;
    }


}

