// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$primaryColor: #41AAA8;
$secondaryColor: #2C003E;
$tertiaryColor: #51DACF;

$titlefont: 'Pangolin', cursive;

body {
    background-color: #E5E5E5;
    font-family: $titlefont;
}

h1 {
    text-align: center;
    padding: 30px;
}

a {
    color: #2C003E;
    padding: 0;
    font-family: $titlefont;
}

.btn {
    background-color: $tertiaryColor;
    color: $secondaryColor;
}

.body-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    font-family: $titlefont;
    margin-left: 20px;
}

.doctopet-navbar {
    background-color: $primaryColor;
    color: $secondaryColor;
}

/* NAVBAR */
.doctopet-logo {
    height: 40px;
    width: 40px;
}

/* MEDICINE INDEX PAGE */

.bnj-medicine-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bnj-card-border {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 16px;
}

.bnj-medicine-card-body-container {
    font-family: $titlefont;
    display: flex;
    justify-content: center;
}

.medicine-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.time-of-day {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bnj-container-number {
    border: 1px solid $secondaryColor;
}

@media all and (min-width: 769px) {
    .navbar-flex {
        width: 100%;
        display: flex;
    }

    .navbar-nav {
        align-items: center;
    }
}

//MOBILE VIEW GAME INDEX
.bloc_page_pet {
    margin: 10px;
    display: flex;
    flex-direction: column;

    .progress-health-bar {
        border: 1px solid black;
        height: 4vh;
        margin: 10px;
    }

    .progress-health-bar { //display background progress bar
        height: 33px;
        padding: 4px;
        background-color: #191919;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    }

    .inside-progress-health-bar-pet { //display inside progress bar
        background-color: $primaryColor;
        height: 24px;
        border-radius: 15px;
        width: 20%;
    }

    .progress-happiness-bar { //display background progress bar
        margin: 10px;
        height: 31px;
        padding: 4px;
        background-color: #191919;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    }

    .inside-progress-happiness-bar-pet { //display inside progress bar
        background-color: blue;
        height: 24px;
        border-radius: 15px;
        width: 20%;
    }

    .container-face {
        width: 98%;
        height: 40px;
        position: relative;

        .happy-face {
            height: 30px;
            position: absolute;
            right: 0;
        }
        .sad-face {
            height: 30px;
            position: absolute;
            left: 5px;
        }
    }

    .container-pet {
        border: 1px solid black;
        height: 50vh;
        margin: 0 10px;
    }

    .container-pet-name {
        margin: 0 10px;
        border: 1px solid black;
    }

    .container-button-pet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;

        .text-button {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button-pet {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            background-color: $tertiaryColor;

            &:focus {
                outline: none;
            }

            img {
                height: 3.5vh;
            }

            .pills {
                height: 6.5vh;
            }

            .bamboo {
                height: 6vh;
            }
        }
    }
}

//DESKTOP VIEW GAME INDEX
@media all and (min-width: 769px) {

    .bloc_page_pet {
        margin: 10px;
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        .progress-health-bar { //display background progress bar
            width: 85%;
            height: 33px;
            padding: 4px;
            background-color: #191919;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
            -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
            -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        }

        .inside-progress-health-bar-pet { //display inside progress bar
            background-color: $primaryColor;
            height: 24px;
            border-radius: 15px;
            width: 20%;
        }

        .progress-happiness-bar { //display background progress bar
            width: 85%;
            margin: 10px;
            height: 31px;
            padding: 4px;
            background-color: #191919;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
            -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
            -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        }

        .inside-progress-happiness-bar-pet { //display inside progress bar
            background-color: blue;
            height: 24px;
            border-radius: 15px;
            width: 20%;
        }

        .container-face {
            width: 85%;
            position: relative;

            .happy-face {
                height: 40px;
                position: absolute;
                right: 0;
            }
            .sad-face {
                height: 40px;
                position: absolute;
                left: 5px;
            }
        }

        .container-left {
            margin: 10px;
            display: flex;
            flex-direction: column;
        }

        .container-pet {
            border: 1px solid black;
            height: 65vh;
            margin: 10px;
            width: 85%;
        }

        .container-pet-name {
            margin: 0 10px;
            border: 1px solid black;
        }

        .container-button-pet {
            display: flex;
            justify-content: space-around;
            height: 40%;

            .text-button:nth-child(2) {
                align-self: flex-end;
            }

            .text-button:nth-child(4) {
                align-self: flex-end;
            }

            .button-pet {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                height: 110px;
                width: 110px;
                border-radius: 50%;
                background-color: $tertiaryColor;

                &:focus {
                    outline: none;
                }

                img {
                    height: 6.5vh;
                }

                .bamboo {
                    height: 80px;
                }

                .pills {
                    height: 115px;
                }
            }
        }

        .container-pet-rules {
            border: 1px solid black;
            height: 350px;
            margin: 10px;
        }

        .container-pet-name {
            border: 1px solid black;
        }

        .container-bar-pet {
            width: 65%;
            display: flex;
            flex-direction: column;
        }
    }
}

@media all and (min-width: 992px) {

    .bnj-medicine-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .bnj-card-border {
        width: 40%;
    }

    .bnj-medicine-form-desktop {
        display: flex;
    }

    .time-of-day {
        display: flex;
        flex-direction: column;
    }

    .bnj-timeofday-desktop {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bnj-timeofday-desktop:nth-child(2) {
        display: flex;
        justify-content: flex-start;
    }

}
