{% extends "base.html.twig" %}

{% block body %}
    <h1>To the attention of parents</h1>

    <div class="introduction">
        <p>The disease experience of a child is often associated with a loss of control towards their body and their
            life</p>
        <p>The intake of pills is usually a complicated moment for the family,
            as the child is trying to regain control over his life and body, by refusing to take his pills.</p>
        <p>DOCTOPET offers a solution for families to regain control over this key aspect of the treatment process.
            The use of a Panda pet allows the child to identify himself with it.</p>
        <p>The child can operate a passive/active reversal towards his treatment process
            thanks to a symbolic approach, potentially reducing the traumatic experience.
        </p>
    </div>

{% endblock %}